
   /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        html {height: 100%}
        body {height: 100%}
        .row.content {height: 100%}
        .container-fluid {height: 100%}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        blockquote {
            line-height: initial;
            font-size: 12px;
        }

        .navbar-nav > li.events-in {
            display: none;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .events {
                display: none;
            }

            .navbar-nav > li.events-in {
                display: block;
            }

            .row.content {
                height: auto;
            }
        }
